.home-country {
	margin: 0;
	padding: 20px 0;
}
.home-country .contianer {
	width: 1250px;
}
.country-box-list {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 40px;
	list-style: none;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.country-box-item {
	position: relative;
	box-sizing: content-box;
	overflow: hidden;
	border-radius: 10px;
}

.country-box__info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
	transition: ease-in-out 0.5s all;
}
.country-box__info:hover {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #161616 100%) ;
	transition: ease-in-out 0.5s all;
	
}
.info-box {
	position: absolute;
	top: 170px;
	left: 20px;
	text-align: start;
	color: #fff;
}
.country-box-img,  .country-img-box{
	border-radius: 10px;
	transition: ease-in-out 0.5s all;
}
.country-box-item:hover .country-box-img {
	transform: scale(1.1);
	transition: ease-in-out 0.5s all;
} 
.counrty-box-heading {
	font-style: normal;
	font-weight: 900;
	font-size: 2.5em;
	line-height: 1em;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}
.counrty-box-description {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1em;
	color: #333333;
	opacity: 0.6;
}