.slick-arrow.slick-prev,
.slick-arrow.slick-next {
   width: 25px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   background: #fcfcfc;
}
.slick-prev {
   left: 0;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
}
.slick-next {
   right: 0;
   border-bottom-left-radius: 7px;
   border-top-left-radius: 7px;
}
.slick-prev::before, 
.slick-next::before {
   display: none;
} 
.home-slider-section{
   position: relative;
   margin: 0 auto; 
   text-align: start;
   background-color: #fcfcfc;
}
.home-slider-heading {
  	font-style: normal;
	font-weight: 700;
	font-size: 2.2em;
	line-height: 1em;
   margin: 0 auto;
   margin-bottom: 10px;
   margin-left: 10px;
	padding-top: 10px;
}
.home-slider {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;

}
.home-image-box{
   display: flex !important;
   align-items: center !important;
   justify-content: space-evenly !important;
  
}
.home-image-slider {
   object-fit: cover;
   border-radius: 10px;
   transition: ease-in-out 0.8s;
} 
.home-sub-image{
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 10px;
} 
.home-custom-indicator{
   bottom: -60px;
}
.home-custom-indicator li {
   width: 50px;
   height: 50px;
   filter: grayscale(100%);
}
.home-custom-indicator li.slick-active {
   filter: grayscale(0);
}

.home-sliders{
   position: relative;
	box-sizing: content-box;
	overflow: hidden;
	border-radius: 10px;
  
}
.home-sliders:hover .home-image-slider{
   transform: scale(1.1);
}
.home-slider-info,
.home-slider-hover {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   text-align: left;
   color: #fcfcfc;
   border-radius: 6px;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #161616 100%) ;
	transition: ease-in-out 0.8s all;
   z-index: 222;
   cursor: pointer;
}
.home-slider-hover {
   display: none;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #161616 100%);
   transition: ease-in-out 0.8s; 
}
.home-info-box {
   position: absolute;
   top: 80%;
   left: 20px;
}

.home-hover-box {
   position: absolute;
   top: 20px;
   left: 20px;
}
.home-hover-box .home-slider-title {
   margin-bottom: 10px;
}

.home-hover-box .home-slider-discription {
   margin-bottom: 200px;
}
.home-hover-box button {
   border: none;
}
.home-link {
   padding: 8px 25px;
   font-size: 1.2em;
   border-radius: 4px;
   text-decoration: none;
   color: #fcfcfc;
   background-color: #22b192;
}

.home-sliders:hover .home-slider-hover{
   display: block;
   transition: ease-in-out 0.8s;
}
.home-sliders:hover .home-slider-info {
   display: none;
   transition: ease-in-out 0.8s;
}
.home-slider-title {
   margin: 0;
   margin-bottom: 10px;
   padding: 0;

}
.home-slider-discription {
   margin: 0;
   padding: 0;
}