.national-foods .container {
	padding: 10px 20px;
}
.food-heading {
	font-style: normal;
	font-weight: 900;
	font-size: 2.5em;
	line-height: 1em;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}
.food-description {
	margin: 0;	
	padding: 0;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1em;
	color: #333333;
	opacity: 0.6;
}