province-shrine.slick-arrow.slick-prev,
.slick-arrow.slick-next {
   width: 25px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   background: #fcfcfc;
}
.slick-prev {
   left: 0;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
}
.slick-next {
   right: 0;
   border-bottom-left-radius: 7px;
   border-top-left-radius: 7px;
}
.slick-prev::before, 
.slick-next::before {
   display: none;
} 
.province-shrine-section{
   margin: 0 auto; 
   padding: 15px 0;
   text-align: center;
}
.province-shrine-heading {
   width: 100%;
   max-width: 500px;
	font-style: normal;
	font-weight: 700;
	font-size: 2.2em;
	line-height: 1em;
   margin: 0 auto;
   margin-bottom: 10px;
	padding: 0;
}
.province-shrine {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}
.shrine-image-box {
   display: flex !important;
   align-items: center;
   justify-content: space-between;
  
}
.shrine-image-slider {
   object-fit: cover;
   border-radius: 10px;
   transition: ease-in-out 0.8s;
} 
.shrine-sub-image{
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 10px;
} 
.shrine-custom-indicator{
   bottom: -60px;
}
.shrine-custom-indicator li {
   width: 50px;
   height: 50px;
   filter: grayscale(100%);
}
.shrine-custom-indicator li.slick-active {
   filter: grayscale(0);
}

.shrine-sliders{
   position: relative;
	box-sizing: content-box;
	overflow: hidden;
	border-radius: 10px;
}
.shrine-sliders:hover .shrine-image-slider{
   transform: scale(1.1);
}
.shrine-slider-info {
   position: absolute;
   left: 10px;
   top: 30px;
   display: none;
   width: 350px;
   text-align: left;
   padding: 0 10px;
   padding-bottom: 10px;
   color: #fcfcfc;
   border-radius: 6px;
   transition: ease-in-out 0.8s;
}
.shrine-sliders:hover .shrine-image-slider{
   filter: brightness(50%);
   transition: ease-in-out 0.8s;
}
.shrine-sliders:hover .shrine-slider-info {
   display: block;
   transition: ease-in-out 0.8s;
}
.shrine-slider-title {
   margin: 0;
   padding: 0;

}
.shrine-slider-discription {
   margin: 0;
   padding: 0;
}