
.food-slider-section{
 
   text-align: center;
}
.food-slider {
   width: 100%;
   max-width: 1300px;
}
.food-image-box {
   display: flex !important;
   align-items: center !important;
   justify-content: space-evenly !important;
}
.food-image-slide + .food-image-slide{
   display: block;
   margin-left: 10px;
   border-radius: 10px;
   object-fit: cover;

} 
.food-sub-image{
   width: 40px;
   height: 40px;
   object-fit: cover;
} 
.food-custom-indicator{
   bottom: -60px;
}
.food-custom-indicator li {
   width: 50px;
   height: 50px;
   filter: grayscale(100%);
}
.food-custom-indicator li.slick-active {
   filter: grayscale(0);
}

.food-sliders{
   position: relative;
}

.food-slider-info {
   position: absolute;
   left: 10px;
   top: 30px;
   display: none;
   width: 350px;
   text-align: left;
   padding: 0 10px;
   padding-bottom: 10px;
   color: #fff;
  
   transition: 0.5s;
   border-radius: 8px;
}
.food-sliders:hover .food-image-slide{
   filter: contrast(30%);
   transition: 0.5s;
}
.food-sliders:hover .food-slider-info {
   display: block;
   transition: 0.5s;
}
.food-image-slide {
   border-radius: 8px;
}
.food-slide-title {
   margin: 0;
   padding: 0;

}
.food-slider-discription {
   margin: 0;
   padding: 0;
}