.province-mosques .container{
   position: relative;
   background-color: #fff;
   padding: 20px 30px;
}

.mosques-heading {
   width: 100%;
   max-width: 300px;
	font-style: normal;
	font-weight: 700;
	font-size: 2.2em;
	line-height: 1em;
   margin: 0 auto;
   margin-bottom: 20px;
	padding: 0;
}
.mosques__box {
   display: flex;
   align-items: center;
}
.mosques__info-box {
   display: flex;
   align-items: flex-start;
}
.mosques__img-box {
   position: relative;
	box-sizing: content-box;
	overflow: hidden;
   margin-right: 20px;
   border-radius: 8px;
   cursor: pointer;
}
.mosques__img-box + .mosques__img-box {
   margin-left: 20px;
}
.mosque-img {
   border-radius: 8px;
   transition: ease-in-out 0.8s;
}
.mosque-img:hover {
   transform: scale(1.1);
   transition: ease-in-out 0.8s;
}
.mosque-info {
   width: 100%;
   max-width: 300px;
}