.footer .container {
  position: relative;
  background-color: #242424;
  display: flex;
  align-items: center;
}



/* Social Icons */

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

