.country__top {
   height: 65px;
   background-color: #3ed8b9 ;
}
.country__list {
   margin: 0;
   padding: 0;
   padding: 40px 60px;
   list-style-type: none;
}
.country__item {
   display: flex;
   width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
}
.sub__list {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   list-style-type: none;
}
.country__item:nth-child(2n) .sub__item:nth-child(1) .country__img{
   margin-left: 50px;
   margin-right: 0;
}
.country__item:nth-child(2n) .sub__item:nth-child(1){
   order: 1;
}

.country__link {
   margin: 0;
   padding: 0;
   padding: 20px 40px;
   text-decoration: none;
   color: #000;
}
.country__img {
   display: inline-block;
   margin-right: 50px;
   border-radius: 10px;
}
.country__info {
   width: 600px;
   list-style-type: none;
}



.car__head{
   font-style: normal;
   font-weight: 700;
   font-size: 44px;
   line-height: 52px;
   color: #000000;
   text-align: center;
   margin-top: 50px;
}

.card__text{
   width: 533px;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 38px;
   text-align: center;
   color: #000000;
   opacity: 0.6;
   text-align: center;
   margin: 0 auto;
   margin-top: 20px; 
}

.card__list{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
}

.card__item{
   max-width: 280px;
   width: 100%;
   border: 2px solid #000;
   border-radius: 10px;
   background-color: #fff;
   border: none;
   padding: 10px;
   margin-bottom: 80px;
}

.card__item:hover .card__item--link{
   display: block;
   transition: all 2s ease;
   -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -ms-transition: all 2s ease;
   -o-transition: all 2s ease;
}

.card__item--image{
   width: 100%;
   height: auto;
   height: 216px;
   border-radius: 10px;
}

.card__item--head{
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -0.02em;
   color: #181720;
   margin-top: 10px;
}

.card__item--text{
   width: 255px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   color: rgba(24, 23, 32, 0.6);
   opacity: 0.8;
   margin-top: 12px;
}

.card__item--location{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: rgba(24, 23, 32, 0.6);
   opacity: 0.8;
   margin-top: 24px;
   display: flex;
}

.card__item--location::before{
   content: "";
   display: block;
   width: 25px;
   height: 25px;
   background-image: url(../../Assets/Images/pin.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 10px;
}

.card__item--num{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: rgba(24, 23, 32, 0.6);
   opacity: 0.8;
   margin-top: 30px;
   display: flex;
}

.card__item--num::before{
   content: "";
   display: block;
   width: 25px;
   height: 25px;
   background-image: url(../../Assets/Images/insights.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 10px;
}

.item__box--wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card__item--link{
   display: none;
   background-color:  rgb(0, 52, 0);
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   color: #fff;
   text-align: center;
   margin-top: 5px;
  transition: all 2s ease;
}