.country__top {
   height: 65px;
   background-color: #3ed8b9 ;
}
.country__list {
   margin: 0;
   padding: 0;
   padding: 40px 60px;
   list-style-type: none;
}
.country__item {
   display: flex;
   width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
}
.sub__list {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   list-style-type: none;
}
.country__item:nth-child(2n) .sub__item:nth-child(1) .country__img{
   margin-left: 50px;
   margin-right: 0;
}
.country__item:nth-child(2n) .sub__item:nth-child(1){
   order: 1;
}

.country__link {
   margin: 0;
   padding: 0;
   padding: 20px 40px;
   text-decoration: none;
   color: #000;
}
.country__img {
   display: inline-block;
   margin-right: 50px;
   border-radius: 10px;
}
.country__info {
   width: 600px;
   list-style-type: none;
}